@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Marhiel";
    src: url("/fonts/Marhiel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Black Italic";
    src: url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Black";
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Bold";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Bold Italic";
    src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Condensed Bold Italic";
    src: url("/fonts/Roboto-BoldCondensedItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Condensed Bold";
    src: url("/fonts/Roboto-BoldCondensed.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/Roboto-Condensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Condensed Italic";
    src: url("/fonts/Roboto-CondensedItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Light";
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Italic";
    src: url("/fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Medium Italic";
    src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Light Italic";
    src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Thin";
    src: url("/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Thin Italic";
    src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto Medium";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    /* user-select: none; */
    ::-webkit-scrollbar {
      @apply h-[8px] w-[8px] bg-transparent !transition-all !duration-500;
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-multiBrown  hover:bg-multiGreen-xLight;
    }
    ::-webkit-scrollbar-track {
      @apply bg-multiGreen-xLight hover:bg-multiBrown;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      background-color: transparent;
      transition:
        background-color 600000s 0s,
        color 600000s 0s;
    }
  }
  body {
    @apply bg-multiGray-light font-site text-multiGray-dark transition-all duration-500;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title font-bold text-multiBrown;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  main {
    @apply grid grow items-start;
    & h1 {
      @apply text-5xl;
    }
    & h2 {
      @apply text-3xl;
    }
  }
  a {
    @apply no-underline hover:underline;
  }
  header {
    @apply bg-multiGreen-xLight text-multiBrown shadow-multi;
  }
  #root {
    @apply flex h-screen flex-col;
  }
}

@layer components {
  .menu {
    .menuItem {
      a,
      li {
        @apply w-full  px-3 py-3 font-extrabold text-multiBrown no-underline transition-all duration-500 hover:bg-multiBrown hover:text-multiGreen-xLight;
      }
      .active {
        @apply bg-multiBrown text-multiGreen-xLight hover:shadow-multi;
      }
    }
    .MuiMenu-paper {
      @apply w-full rounded-lg bg-multiGreen-xLight/90 p-0 backdrop-blur-lg;
    }
    &.MuiModal-root,
    .MuiBackdrop-root,
    .MuiModal-backdrop {
      @apply !bg-transparent backdrop-blur-none;
    }
  }
  .pageLink {
    @apply text-multiBrown hover:text-multiGreen-xLight hover:underline;
  }
  .partners {
    @apply mx-auto my-auto flex flex-row flex-wrap justify-center gap-5;
  }
  .svgFile {
    @apply w-[24px];
  }
  .iconLink {
    @apply flex items-center  justify-center gap-2 odd:w-[24px_1fr] even:grid-cols-[1fr_24px];
  }
  .button {
    @apply rounded-lg bg-multiBrown font-bold text-multiGreen-xLight shadow-multi hover:bg-multiGreen-xLight hover:text-multiBrown;
    &.inverted {
      @apply bg-multiGreen-xLight font-bold text-multiBrown shadow-multi hover:bg-multiBrown hover:text-multiGreen-xLight;
    }
    &.buttonCTA {
      @apply rounded-full bg-multiBrown px-6 py-4 font-extrabold !text-multiGreen-xLight !no-underline shadow-multi transition-all duration-500 hover:scale-105 hover:bg-multiBrown/25 hover:!text-multiBrown;
    }
    &.buttonFluid {
      @apply w-[100%] py-2;
    }
    &.buttonSmall {
      @apply w-[auto] !px-2;
    }
    &.buttonMedium {
      @apply w-[auto] !px-4 !py-3;
    }
    &.buttonLarge {
      @apply w-[auto] !px-6 !py-4;
    }
    &.textButton {
      @apply bg-transparent shadow-none;
    }
  }

  .footer {
    @apply mb-0 bg-multiBrown text-multiGreen-xLight;
    .footerLink {
      @apply text-multiGreen-xLight;
    }
  }
  .navBar {
    @apply fixed z-10 flex max-h-[100px] w-full items-center justify-between gap-4 bg-multiGreen-xLight px-3 py-2 transition-all duration-500;
    a {
      @apply hover:no-underline;
    }
    .MuiTab-root {
      @apply max-w-[100%] items-center py-0 font-extrabold text-multiBrown transition-all duration-500 hover:bg-multiBrown  hover:text-multiGreen-xLight;
      &.MuiButtonBase-root {
        @apply min-h-[48px];
      }
    }
    .MuiTabs-indicator {
      @apply bg-multiBrown/50;
    }
    &.inverted {
      @apply !bg-multiBrown/25 shadow-multi !backdrop-blur-sm;
    }
  }
  .footer {
    @apply !mb-0 flex flex-col py-5 pb-3 pt-10;
    .copyright {
      @apply grid grid-flow-row text-center text-xs text-multiGray-light/50;
      & .pageLink {
        @apply text-multiGray-dark hover:text-multiGreen-xLight hover:underline;
      }
    }
  }
  .divider {
    @apply opacity-50;
    &.MuiDivider-root {
      @apply border-multiBrown/50;
    }
    &.inverted {
      &.MuiDivider-root {
        @apply border-multiGreen-xLight/50;
      }
    }
  }
  .card {
    &.cardProduto {
      @apply bg-multiGreen-xLight/25 text-multiBrown shadow-multi;
    }
  }
  .hero {
    line-height: 2rem;
    @apply grid h-full w-full grid-cols-1
      grid-rows-1 content-center bg-multiGreen-xLight text-center font-normal !transition-all !duration-500 md:grid-cols-[1fr_1fr];
    .heroCenter,
    .heroRight,
    .heroLeft {
      @apply grid h-full content-center p-[2rem] !transition-all !duration-500 clip-path-full;
    }
    .heroCenter {
      @apply !col-span-2 grid;
    }
    .heroLeft {
      @apply md:pr-[7rem] md:clip-path-left;
    }
    .heroRight {
      @apply md:col-start-2 md:pl-[7rem] md:clip-path-right;
    }
    .heroLink {
      @apply font-extrabold no-underline;
    }
    .heroOverlay {
      @apply bg-multiGreen-xLight/50 backdrop-blur-sm;
      a {
        @apply text-multiGray-dark underline-offset-4 hover:text-multiBrown hover:underline;
      }
    }
  }
  .logo {
    @apply max-h-[80px] transition-all duration-500;
  }
  & .map {
    @apply z-[1] !h-[400px] !w-[400px];
    & .leaflet-popup .leaflet-popup-content-wrapper,
    & .leaflet-tooltip {
      @apply rounded-md border-none bg-multiBrown p-2 text-sm font-bold text-multiGreen-xLight shadow-multi;
    }
    & .leaflet-tooltip::before {
      @apply border-t-multiBrown;
    }
    & .leaflet-popup .leaflet-popup-content {
      @apply flex items-center justify-center;
    }
  }
  .form {
    & .label {
      @apply px-1 pb-1 font-bold text-multiBrown;
    }
    & .formActions {
      @apply mx-auto;
      & .formButtons {
        @apply flex-col justify-end gap-4 md:flex-row;
      }
    }
    & .counter {
      @apply grid pt-2 text-right text-xs text-multiBrown;
    }
    & .formError {
      @apply -mb-2 rounded-none  px-2 font-bold text-red-900;
    }
    & .MuiInputBase-root {
      @apply rounded-none  bg-transparent px-2
      font-bold text-multiGray-dark focus-within:bg-multiGreen-xLight/45 focus-within:text-multiBrown focus-within:shadow-multi-inset hover:bg-multiGreen-xLight/45 hover:text-multiBrown;
    }
    & .MuiInputBase-root::after,
    .Mui-focused::after {
      @apply border-[1px] border-solid border-multiBrown transition-transform duration-700;
    }
  }
  .error {
    @apply !bg-red-400/80;
    &::-webkit-scrollbar-track {
      @apply rounded-br-lg rounded-tr-lg bg-red-900;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-br-lg rounded-tr-lg bg-multiGray-light hover:bg-red-600;
    }
  }
  .checkbox {
    @apply grid grid-cols-[auto_1fr] items-center justify-start rounded-none px-0 py-1.5 text-multiBrown;
    & .MuiButtonBase-root {
      @apply bg-transparent  text-multiBrown;
    }
    & .MuiButtonBase-root.Mui-disabled {
      @apply text-multiGray-light/50;
    }
    &.error {
      @apply border-0 border-b-[1px] border-solid border-red-600 text-white;
      & .MuiButtonBase-root {
        @apply bg-transparent text-white;
      }
    }
  }
  .select {
    & button {
      @apply text-multiBrown;
    }
    &.errorSelect {
      & button {
        @apply text-red-900;
      }
      & .MuiAutocomplete-inputRoot {
        @apply !bg-red-400/80;
      }
    }
  }
  .modal {
    & *::-webkit-scrollbar,
    & *::-webkit-scrollbar-thumb,
    & *::-webkit-scrollbar-track {
      @apply m-0 rounded-br-lg rounded-tr-lg shadow-none hover:shadow-none;
    }
    &.MuiModal-root {
      @apply !transition-all !duration-700;
      & .MuiPaper-root {
        @apply h-fit max-h-[90%] min-w-[75%] max-w-[75%] rounded-lg bg-multiGray-light p-5 text-multiGray-dark shadow-multi backdrop-blur-lg  transition-all duration-700;
      }
    }
    & .MuiBackdrop-root,
    & .MuiModal-backdrop {
      @apply bg-multiGreen-xLight/50 backdrop-blur-sm;
    }
    &.spinner {
      & .MuiPaper-root {
        @apply bg-transparent shadow-none backdrop-blur-none;
      }
      & .MuiCircularProgress-root {
        @apply text-multiBrown;
      }
      & p {
        @apply text-multiBrown;
      }
    }
    &.article {
      & ::-webkit-scrollbar,
      & ::-webkit-scrollbar-thumb,
      & ::-webkit-scrollbar-track {
        @apply m-0 rounded-none shadow-none hover:shadow-none;
      }
      & .MuiPaper-root {
        @apply bg-multiGray-light p-0 !transition-all !duration-700;
      }
      & .articleTitle {
        @apply bg-multiGreen-xLight text-multiBrown;
      }
      & .articleContent {
        @apply py-5 text-multiGray-light;
        & ul {
          @apply px-5;
          & li {
            @apply py-1;
          }
        }
      }
    }
  }
}

@layer utilities {
}

a[disabled],
.disabled,
.button[disabled],
.MuiFormLabel-root.Mui-disabled,
.MuiInputBase-root.Mui-disabled,
.MuiInput.Mui-disabled {
  @apply pointer-events-none !bg-multiGray-dark/50 !text-multiGray-light before:!border-none;
  &.button {
    @apply !shadow-none;
  }
}
.MuiFormLabel-root.Mui-disabled {
  @apply !bg-transparent;
}
